# Maven / Gradle
target/
build/
.gradle/

# Java
*.class
hs_err_pid*

# Spring Boot
.springBeans
.sts4-cache/

# IntelliJ IDEA
.idea/
*.iml

# Eclipse / STS
.project
.classpath
.settings/
.factorypath

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment / secrets
.env
*.pem
*.ppk

# SQL files
*.sql
